name: mirrorchyan

on:
  workflow_dispatch:
    inputs:
        tag:
            default: ''
            required: false
#   release:
#     types: [released]

jobs:
  mirrorchyan:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        os: [win, macos, linux]
        arch: [aarch64, x86_64]
    steps:
      - id: uploading
        uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          filename: ${{ format('MRA-{0}-{1}-*', matrix.os, matrix.arch) }}
          mirrorchyan_rid: MaaJR
          tag: ${{ inputs.tag }}

          owner: Saratoga-Official
          repo: MRA
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}

  mirrorchyan_res:
    runs-on: macos-latest
    steps:
      - id: uploading
        uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          filename: "MRA-win-x86_64-*.zip"
          pick_files: '["resource", "interface.json"]'
          mirrorchyan_rid: MaaJR
          tag: ${{ inputs.tag }}

          owner: Saratoga-Official
          repo: MRA
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
